<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="files">
	<insert id="upLoad" parameterType="java.util.HashMap">
		insert into fileupload
		values(fileupload_seq.nextval, #{id }, #{comments},0
		, sysdate, #{fileuuid}, #{name })
	</insert>
	<select id="getFile" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from fileupload where fileuuid = #{fileuuid }
	</select>
	<select id="getAllFile" resultType="java.util.HashMap">
		select * from fileupload order by num desc
	</select>
	<update id="fileupdate" parameterType="java.lang.String">
		update fileupload set count =
		count +1 where fileuuid=#{fileuuid }
	</update>
</mapper>